/*
 * Text format.
 */
p {
  text-align: justify;
}
/*
 * Table format: no cell border and no vertical space between the cells, because our
 * tables are actually more like very long lists. We use different background colors
 * for making easier to identify different sections in those lists.
 */
table {
  border-spacing: 0px;
  white-space: nowrap;
}
/*
 * A table with a light (but non-white) background. This is mixed
 * with the "tr.HL" style for producing a table with striping.
 */
table.withbg {
    background-color: aliceblue
}
/*
 * Table header, which may span more than one lines.
 */
tr.sectionHead > th {
  font-size: 14pt;
  border-top-style: solid;
  border-top-width: 1pt;
}
tr.sectionTail > th {
  border-bottom-style: solid;
  border-bottom-width: 1pt;
}
/*
 * Headers for a sub-section in a table. This is not a real table header, but
 * can be seen as a kind of header for grouping the content of a large table.
 */
tr.groupName > td {
  font-weight: bold;
  color: MidnightBlue;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: MidnightBlue;
  border-width: 1pt;
  padding-top: 3pt;
  padding-bottom: 3pt;
  background-color: lavender;
}
tr.groupHead > td {
  padding-top: 3pt;
}
tr.groupTail > td {
  padding-bottom: 18pt;
}
/*
 * Highlighter for a row in a table, or for striping.
 */
tr.HL > td {
  background-color: lavender;
}
th {
  background-color: lightskyblue;
  height: 18pt;
}
th.left-align {
  padding-left:  6pt;
  text-align: left;
}
td {
  padding-left:  6pt;
  padding-right: 6pt;
  vertical-align: top;
}
td.nospace {
  padding-left:  0pt;
  padding-right: 0pt;
}
td.error {
  color: red;
}
td.warning {
  color: darkred;
  font-style: italic;
}
/*
 * The style for list elements that appear directly inside a cell table,
 * without enclosing <ul> element. We don't use <ul> in order to avoid
 * the extra margin on top and bottom. This style is used when each list
 * item appears in its own table cell, as in OperationParametersReport.
 */
td > li {
  margin-left: 18px;
  list-style-type: square;
}
