# Maven files
target/

# Netbeans files
nbactions.xml

# Eclipse files
.classpath
.project
.settings/

# IntelliJ files
.idea/
*.iml

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Python related files
# ------------------------------------------------
# Python files
__pycache__/
*.pyc

# python virtual environments
.venv
venv

# Ruff linter cache
.ruff_cache

# static type checking
.mypy_cache

# unit tests
.pytest_cache

# build files
geoapi.egg-info/
# ------------------------------------------------
