# Maven files
target/

# Netbeans files
nbactions.xml
ide-project/NetBeans/build/
ide-project/NetBeans/dist/
ide-project/NetBeans/nbproject/private/

# Eclipse files
.classpath
.project
.settings/

# IntelliJ files
.idea/
*.iml

# MacOS files
.DS_Store

# Python files
__pycache__/
*.pyc
