<footer class="bg-white border-t border-gray-400 shadow">
  <div class="container mx-auto flex py-8">
    <div class="w-full mx-auto flex flex-wrap">
      <div class="flex w-full lg:w-1/2 ">
        <div class="px-8">
          <p class="text-gray-800 text-sm">
            Copyright © 1994–2023 <a href="https://www.ogc.org/" class="externalLink">Open Geospatial Consortium</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
/*Toggle dropdown list*/
/*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

const navMenuDiv = document.getElementById("nav-content");
const navMenu = document.getElementById("nav-toggle");

const helpMenuDiv = document.getElementById("menu-content");
const helpMenu = document.getElementById("menu-toggle");

document.onclick = check;

function check(e){
  // noinspection JSDeprecatedSymbols
  const target = (e && e.target) || (event && event.srcElement);

  //Nav Menu
  if (!checkParent(target, navMenuDiv)) {
    // click NOT on the menu
    if (checkParent(target, navMenu)) {
      // click on the link
      if (navMenuDiv.classList.contains("hidden")) {
        navMenuDiv.classList.remove("hidden");
      } else {navMenuDiv.classList.add("hidden");}
    } else {
      // click both outside link and outside menu, hide menu
      navMenuDiv.classList.add("hidden");
    }
  }

  //Help Menu
  if (!checkParent(target, helpMenuDiv)) {
    // click NOT on the menu
    if (checkParent(target, helpMenu)) {
      // click on the link
      if (helpMenuDiv.classList.contains("hidden")) {
        helpMenuDiv.classList.remove("hidden");
      } else {helpMenuDiv.classList.add("hidden");}
    } else {
      // click both outside link and outside menu, hide menu
      helpMenuDiv.classList.add("hidden");
    }
  }

}

function checkParent(t, elm) {
  while(t.parentNode) {
    if( t === elm ) {return true;}
    t = t.parentNode;
  }
  return false;
}
</script>
