/*
 * Stylesheet for the departures.html file.
 */
section.categories {
}

section.types {
  margin-left:   30px;
}

section.members {
  margin-left:   30px;
}

div.desc {
  margin-left:   30px;
  margin-right:  40px;
  margin-top:     9px;
  margin-bottom:  9px;
  text-align: justify;
}

h2 {
  margin-top: 60px;
}

h2, h3, h4 {
  margin-bottom:  9px;
}
