/*
 * Table without vertical space between rows, a little bit of space between columns,
 * a light background color and a header with a darker background color. The header
 * also have a little bit more space, and a border is drawn around the table.
 */
table.ogc caption {
  color:          #2471a3;
  font-weight:    bold;
  padding-bottom: 4px;
}

table.ogc {
  border-color:     gray;
  border-style:     solid;
  border-width:     2px;
  border-spacing:   0;
  margin:           21px 0px;
  width:            auto;
}

table.ogc tr th {
  background-color:    #d4e6f1;
  border-bottom-color: #2980b9;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding:             6px;
  text-align:          center;
}

table.ogc tr td {
  padding:        1.5px 9px;
  vertical-align: text-top;
}

table.ogc tr.coordinates {
  text-align: right;
}

/*
 * Optionally add a line or column separator.
 */
table.ogc tr th.hsep,
table.ogc tr td.hsep {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2980b9;
}

table.ogc tr th.sep,
table.ogc tr td.sep {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2980b9;
}

/*
 * Layout two or more elements horizontally.
 */
div.horizontal-flow {
  display:       flex;
  margin-left:   28px;
  margin-top:    12px;
  margin-bottom: 12px;
}

div.horizontal-flow > table,
div.horizontal-flow > div {
  margin-left:  24px;
  margin-right: 24px;
}

/*
 * For classes hierarchy shown in two-column tables.
 */
td.hierarchy {
  width:       50%;
  white-space: nowrap;
  line-height: 1em;
}

td.hierarchy code {
  line-height: 1em;
}

/*
 * Definition of <div class="note">
 *
 * Note or examples.
 */
div.note {
  margin-left:   40px;
  margin-right:  40px;
  margin-top:     9px;
  margin-bottom:  9px;
}

div.note:before {
  color:     green;
  position:  relative;
  float:     left;
  left:      -28px;
  width:     0;
  content:   "🛈";
}

/*
 * The note about departures from OGC/ISO specifications.
 */
div.departure {
  color: #839192;
}

/*
 * The warning box for upcomming API changes. The warning icon is 64 pixels height.
 * Since we have 30 pixels in top and bottom padding, There is 34 remaining pixels
 * to set as the minimal height.
 */
div.warning {
  border-width: 2px;
  border-style: solid;
  border-color: darkred;
  background:   antiquewhite;
  margin:       15px 30px;
  padding:      15px;
  min-height:   34px;
}

div.warning:before {
  position: relative;
  float:    left;
  top:      -15px;
  left:     -15px;
  content:  url("warning.png");
}

div.warning p {
  padding-left: 70px;
}

div.snapshot-warning {
  text-align:  center;
  padding-top:    6px;
  padding-bottom: 6px;
  background: papayawhip;
}
