/*
 * This file is a copy of the site.css file provided in
 * /src/site/resources/css, except for URL to images.
 */
#leftColumn {
 width: 180px;
}
#bodyColumn {
  margin-left: 207px;
}
#banner {
  height: 90px;
  background: url(../../images/banner.png);
}
a {
  color: #387085;
}
a:active, a:hover {
  text-decoration: underline;
}
p {
  text-align: justify;
}
h2 {
  background: url(../../images/h2.png) repeat-x;
  -moz-border-radius: 10px;
  color: #606060;
  height: 30px;
  padding-left: 15px;
}
h3 {
  color: #404040;
}
h4 {
  color: #606060;
  border: none;
  font-size: medium;
  font-weight: bold;
  padding-left: 0px;
  padding-bottom: 0px;
}
h5 {
  color: #404040;
}
dl {
  border: 0px;
  background-color: #ffffff;
}
#breadcrumbs {
  background: url(../../images/bar.png) repeat-x;
  color: black;
  height: 21px;
  line-height: 20px;
}
#breadcrumbs a {
  color: black;
}
