/*
 * Table without vertical space between rows, a little bit of space between columns,
 * a light background color and a header with a darker background color. The header
 * also have a little bit more space, and a border is drawn around the table.
 */
table.ogc caption {
  color:          steelblue;
  font-weight:    bold;
  padding-bottom: 4px;
}

table.ogc {
  background-color: ghostwhite;
  border-color:     gray;
  border-style:     solid;
  border-width:     1px;
  border-spacing:   0;
  margin:           15px 40px;
  width:            auto;
}

table.ogc tr th {
  background-color:    lightsteelblue;
  border-bottom-color: steelblue;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding:             3px;
}

table.ogc tr td {
  padding:        1.5px 9px;
  vertical-align: text-top;
}

/*
 * Optionally add a line or column separator.
 */
table.ogc tr th.hsep {
  border-top-width: 1px;
  border-top-style: solid;
}

table.ogc tr td.hsep {
  border-top-width:  1px;
  border-top-style:  solid;
  border-left-color: steelblue;
}

table.ogc tr th.sep {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: steelblue;
}

table.ogc tr td.sep {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: steelblue;
}

/*
 * Table providing description of GIGS tests.
 */
table.gigs th {
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

/*
 * For classes hierarchy shown in two-column tables.
 */
td.hierarchy {
  width:       50%;
  white-space: nowrap;
  line-height: 1em;
}

td.hierarchy code {
  line-height: 1em;
}

/*
 * Bullet and ordered lists. Put some space before and after the list.
 * Listes of the "verbose" class also have some space betweem items.
 */
ul,
ol {
  margin-top:    9px;
  margin-bottom: 9px;
}

li > ul,
li > ol {
  margin-top:    0;
  margin-bottom: 6px;
}

/*
 * Formatting of section headers.
 */
div.section {
  font-size:    18px;
  font-weight:  bold;
  margin-top:   30px;
  margin-bottom: 3px;
}

/*
 * Definition of <div class="note">
 *
 * Note or examples.
 */
div.note {
  color:      #353833;
  font-size:    small;
  margin-left:   40px;
  margin-right:  40px;
  margin-top:     9px;
  margin-bottom:  9px;
  text-align: justify;
}

/*
 * The note about departures from OGC/ISO specifications.
 */
div.departure {
  color:    slategray;
  font-size:    small;
  margin-left:   40px;
  margin-right:  40px;
  margin-top:     9px;
  margin-bottom:  9px;
  text-align: justify;
}

/*
 * The warning box for upcomming API changes. The warning icon is 64 pixels height.
 * Since we have 30 pixels in top and bottom padding, There is 34 remaining pixels
 * to set as the minimal height.
 */
div.warning {
  border-width: 2px;
  border-style: solid;
  border-color: darkred;
  background:   antiquewhite;
  margin:       15px 30px;
  padding:      15px;
  min-height:   34px;
  text-align:   justify;
}

div.warning:before {
  position: relative;
  float:    left;
  top:      -15px;
  left:     -15px;
  content:  url("warning.png");
}

div.warning p {
  padding-left: 70px;
}
