@import url('standard.css');

/*
 * Table without vertical space between rows, a little bit of space between columns,
 * a light background color and a header with a darker background color. The header
 * also have a little bit more space, and a border is drawn around the table.
 */
table.ogc caption {
  color:          #0086E0;
  padding-bottom: 4px;
}

table.ogc {
  background-color: #F4F8FF;
  border-color:     Black;
  border-style:     solid;
  border-width:     1pt;
  border-spacing:   0pt;
  margin:           12pt 0 12pt 0;
  padding:          0pt;
  width:            auto;
}

table.ogc tr th {
  background-color:    #B9DCFF;
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  padding:             3pt;
}

table.ogc tr td {
  padding:        1.5pt 9pt;
  vertical-align: text-top;
}

/*
 * Optionally add a line or column separator.
 */
table.ogc tr th.hsep {
  border-top-width: 1pt;
  border-top-style: solid;
}

table.ogc tr td.hsep {
  border-top-width: 1pt;
  border-top-style: solid;
  border-left-color: #AAADB2;
}

table.ogc tr th.sep {
  border-left-width: 1pt;
  border-left-style: solid;
  border-left-color: #819AB2;
}

table.ogc tr td.sep {
  border-left-width: 1pt;
  border-left-style: solid;
  border-left-color: #AAADB2;
}

/*
 * Bullet and ordered lists. Put some space before and after the list.
 * Listes of the "verbose" class also have some space betweem items.
 */
ul,
ol {
  margin-top:    9pt;
  margin-bottom: 9pt;
}

li > ul,
li > ol {
  margin-top:    0pt;
  margin-bottom: 6pt;
}

/*
 * Formatting of section headers.
 */
div.section {
  font-size:    18px;
  font-weight:  bold;
  margin-top:   30px;
  margin-bottom: 3px;
}

/*
 * Definition of <div class="note">
 *
 * Note or examples.
 */
div.note {
  color:     #353833;
  font-size:   small;
  margin-left:  40px;
  margin-right: 40px;
  margin-top:    9px;
  margin-bottom: 9px;
}

/*
 * The warning box for upcomming API changes. The warning icon is 64 pixels height.
 * Since we have 30 pixels in top and bottom padding, There is 34 remaining pixels
 * to set as the minimal height.
 */
div.warning {
  border-width: 2pt;
  border-style: solid;
  border-color: darkred;
  background:   antiquewhite;
  margin:       12pt 30pt;
  padding:      15px;
  min-height:   34px;
}

div.warning:before {
  position: relative;
  float:    left;
  top:      -15px;
  left:     -15px;
  content:  url("warning.png");
}

div.warning p {
  padding-left: 70px;
}
